body,section,div,h1,h2,h3,h4,h5,h6,p,header,footer,main,nav,article,aside,ol,ul,li,dl,dt,dd,table,table,th,td,caption,
thead,tbody,tfoot,blockquote,form,fieldset,legend,input,button,select,figure,figcaption,address,video{ margin:0px; padding:0px; }
ol, ul{ list-style:none; }
table{ border-collapse:collapse; border-spacing:0px; }
a{ text-decoration:none; }
fieldset{ border:0px; }
img{ display:block; border:0px; }
caption,legend,hr{ display:none; }
address,em,i{ font-style:normal; }
q::before,q::after{ content:""; }
input,button,select,textarea{ box-sizing:border-box; }
textarea{ resize:none; }